
<input #search [(ngModel)]="search.value" type="text"/>  //reference Variable

<!-- <button (click)="getDataBysearch(search.value)">Search</button> -->


{{search.value}}


<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Category</th>
      <th>Image</th>


    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let dataval of ImageList | imageFilter: search.value">
      <td>{{dataval.id}}</td>
      <td>{{dataval.cat}}</td>
      <td> <img src="{{dataval.img}}" height="50px"/></td>
    </tr>




  </tbody>
</table>